# VS code user-specific files
*.suo
*.user
*.sln.docstates
.vs/
.vscode/

# VS code extensions
.favorites.json

# Python
*.pyc
__pycache__/
venv/

# Data
*.json
data/

# Databases
db/



# Chroma
# Vector database
*.sqlite3
# Folders inside output
/output/*/
